<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <title>Socket</title>
    <link rel="shortcut icon" href="" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-------thu vien socket io cho phia client------>
    <style>
      body {
        margin: 0;
        padding-bottom: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif;
      }

      #form {
        background: rgba(0, 0, 0, 0.15);
        padding: 0.25rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 3rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
      }
      #input {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 2rem;
        margin: 0.25rem;
      }
      #input:focus {
        outline: none;
      }
      #form > button {
        background: #333;
        border: none;
        padding: 0 1rem;
        margin: 0.25rem;
        border-radius: 3px;
        outline: none;
        color: #fff;
      }

      #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #messages > li {
        padding: 0.5rem 1rem;
      }
      #messages > li:nth-child(odd) {
        background: #efefef;
      }
    </style>

    <script src="/jquery/dist/jquery.js"></script>
  </head>
  <body>
    <div id="dialog"></div>
    <dialog id="dashboard">
      <div>
        <button id="create_room">Create new room</button>
      </div>
      <div>
        <button id="join_room">Join a room</button>
      </div>
    </dialog>
    <dialog id="create_room_dialog">
      <label for="name">Room Name</label>
      <input id="room_name_input" type="text" placeholder="name" required />
      <button type="button" id="btn_ok_create_dialog">OK</button>
    </dialog>
    <dialog id="choose_room">
      <ul id="room_list"></ul>
      <!-- <dialog id="type_your_name_dialog">
        <label for="name">Name Player</label>
        <input id="name" type="text" placeholder="name" required />
        <button type="button" id="btn_ok">OK</button>
      </dialog> -->
    </dialog>

    <div>
      <span id="nickname"></span>
      <span id="room"></span>
      <span id="turn"></span>
    </div>
    <div>
      <!-- <dialog id="dialog_ready">
        <button type="button" id="btn_ready">Ready</button>
        <button type="button" id="btn_cancel">Cancel</button>
      </dialog> -->
    </div>
    <dialog id="dialog_waiting">Waiting your opponent</dialog>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    function drawboard() {
      const div = d3
        .select("body")
        .append("div")
        .attr("id", "content")
        .style("text-align", "center");
      // create <svg>
      let boxsize = 30; // kich thuoc cua moi o vuong
      let n = 20; // so luong o vuong tren 1 hang
      const svg = div
        .append("svg")
        .attr("width", boxsize * n)
        .attr("height", boxsize * n);
      //-------------------------------------------------------
      for (let i = 0; i < n; i++) {
        for (let j = 0; j < n; j++) {
          // draw each chess field
          const box = svg
            .append("rect")
            .attr("x", i * boxsize)
            .attr("y", j * boxsize)
            .attr("width", boxsize)
            .attr("height", boxsize)
            .attr("id", "b" + i + j)
            .style("stroke", "black")
            .on("click", function () {
              let selected = d3.select(this);
              socket.emit(
                "on-box-click",
                selected.attr("x") / boxsize,
                selected.attr("y") / boxsize
              );
            });
          if ((i + j) % 2 === 0) {
            box.attr("fill", "beige");
          } else {
            box.attr("fill", "beige");
          }
        }
      }
    }

    function setTurn(turn) {
      var turnE = document.getElementById("turn");
      turnE.innerText = `Your turn is ${turn}`;
    }

    function showWaitingScreen() {
      document.getElementById("dialog_waiting").show();
    }

    function closeWaitingScreen() {
      document.getElementById("dialog_waiting").close();
    }
  </script>

  <script>
    function initListener(socket) {
      socket.on("room-list", onRoomList);
      socket.on("join-room-success", onRoomSuccess);
      socket.on("has-2-player", onHas2Player);
      socket.on("your-turn", onYourTurn);
      socket.on("choose-box", onChooseBox);
      socket.on("error", onError);

      //socket area
      function onRoomList(rooms) {

        rooms.forEach(function (room) {
          console.log(room);
          console.log(room.name);
          console.log(room.owner);
          var item = document.createElement("button");
          item.innerText = room.name;

          item.onclick = function () {
            socket.emit("join-room", room.owner);
            document.getElementById("choose_room").close();
            document.getElementById("dashboard").close();
          };

          document.getElementById("room_list").appendChild(item);
        });
      }

      function onRoomSuccess(room) {
        document.getElementById("room").innerText = room.name;
        showWaitingScreen();
      }

      function onHas2Player() {
        closeWaitingScreen();
      }

      function onYourTurn({ turn }) {
        setTurn(turn);
        socket.turn = turn;
        drawboard();
      }
      function onChooseBox({ turn, x, y }) {
        alert(`your opponent turn ${turn} position (${x},${y})`);
      }
      function onError({ message }) {
        alert(message);
      }

      //-socket listener
    }
  </script>

  <script>
    var socket = io();
    initListener(socket);
    var dashboard = document.getElementById("dashboard");
    dashboard.onclose = function () {};
    dashboard.show();
    $("#create_room").click(() => {
      document.getElementById("create_room_dialog").show();
      $("#btn_ok_create_dialog").click(() => {
        value = $("#room_name_input").val();
        socket.emit("create-room", value);

        document.getElementById("create_room_dialog").close();
        dashboard.close();
      });
    });

    $("#join_room").click(() => {
      document.getElementById("choose_room").show();
      socket.emit("room-list");
    });
  </script>
</html>
